$main: #B6F85B;
$bcgrnd: #0D2329;
$white: #FFFFFF;
$fontAsap: 'Asap', sans-serif;
$fontClimateCrisis: 'Climate Crisis', cursive;
.banner {
    &__wrap {

    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 12px;

        &_one {
            & {
                font-family: $fontClimateCrisis;
                font-weight: 400;
                font-size: 44px;
                line-height: 59px;
                text-align: center;
                text-transform: uppercase;
                color: $main;
            }
        }

        &_two {
            & {
                font-family: $fontClimateCrisis;
                font-weight: 400;
                font-size: 32px;
                line-height: 43px;
                text-align: center;
                text-transform: uppercase;
                color: $main;
            }
        }
    }

    &__subtitle {
        max-width: 200px;

        & {
            font-family: $fontAsap;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            text-transform: capitalize;
            color: $white;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 42px;

        &__left {
            border-left: 2px solid $main;
            padding-left: 8px;

            & {
                font-family: $fontAsap;
                font-weight: 300;
                font-size: 10px;
                line-height: 11px;
                color: $white;
            }
        }

        &__right {
            max-width: 190px;

            & {
                font-family: $fontAsap;
                font-weight: 300;
                font-size: 10px;
                line-height: 11px;
                text-align: right;
                color: $white;
            }
        }
    }

    &__next {
        display: flex;
        justify-content: center;
        padding-top: 24px;
    }
}