$main: #B6F85B;
$bcgrnd: #0D2329;
$white: #FFFFFF;
$fontAsap: 'Asap', sans-serif;
$fontClimateCrisis: 'Climate Crisis', cursive;
.image_text {
    &__wrap {

    }

    &__img {
        width: 100%;
        margin-bottom: 24px;
    }

    &__title {
        margin-bottom: 12px;

        & {
            font-family: $fontAsap;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            text-transform: uppercase;
            color: $white;
        }
    }

    &__text {
        font-family: $fontAsap;
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: $white;
    }
}