$main: #B6F85B;
$bcgrnd: #0D2329;
$white: #FFFFFF;
$fontAsap: 'Asap', sans-serif;
$fontClimateCrisis: 'Climate Crisis', cursive;
.image_texts {
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        overflow: hidden;
        padding-top: 32px;
    }

    &__img {
        width: 246px;
        height: 170px;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &__item {
        width: 260px;
        padding-left: 12px;
        padding-right: 12px;
        background: $white;

        &:nth-of-type(1) {
            padding-top: 4.5px;
            padding-bottom: 4.5px;
        }

        &:nth-of-type(2) {
            align-self: center;
            padding-top: 4px;
            padding-bottom: 4px;
        }

        &:nth-of-type(3) {
            align-self: flex-end;
            padding-top: 14px;
            padding-bottom: 14px;
        }

        & {
            font-family: $fontAsap;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: $bcgrnd;
        }
    }
}