$main: #B6F85B;
$bcgrnd: #0D2329;
$white: #FFFFFF;
$fontAsap: 'Asap', sans-serif;
$fontClimateCrisis: 'Climate Crisis', cursive;
.rates {
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .rate_item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        background: $white;
        border: 2px solid $main;
        padding: 16px 12px;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__left {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 4px;
            }

            &__right {
                width: 116px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2px;
            }
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 26px;
        }

        &__logo {
            width: 22px;
            height: 16px;
            object-fit: contain;
        }

        &__title {
            font-family: $fontAsap;
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            color: $bcgrnd;
        }

        &__price {
            font-family: $fontAsap;
            font-weight: 400;
            font-size: 15px;
            line-height: 150%;
            text-align: center;
            text-transform: uppercase;
            color: $bcgrnd;

            b {
                font-weight: 600;
            }
        }

        &__bonus {
            font-family: $fontAsap;
            font-weight: 400;
            font-size: 10px;
            line-height: 11px;
            text-transform: capitalize;
            color: #A2A2A2;
        }

        &__text {
            font-family: $fontAsap;
            font-weight: 300;
            font-size: 10px;
            line-height: 11px;
            color: $bcgrnd;
        }

        &__btn {
            width: 116px;
        }
    }
}