$main: #B6F85B;
$bcgrnd: #0D2329;
$white: #FFFFFF;
$fontAsap: 'Asap', sans-serif;
$fontClimateCrisis: 'Climate Crisis', cursive;
.title_list {
    &__title {
        margin-bottom: 24px;

        & {
            font-family: $fontAsap;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            text-transform: uppercase;
            color: $white;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .item {
            display: flex;
            align-items: center;
            gap: 4px;

            span {
                width: 8px;
                height: 8px;
                background: $main;
                margin: 9px;
            }

            p {
                flex: 1;

                & {
                    font-family: $fontAsap;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 150%;
                    color: $white;
                }
            }
        }
    }
}