$main: #B6F85B;
$bcgrnd: #0D2329;
$white: #FFFFFF;
$fontAsap: 'Asap', sans-serif;
$fontClimateCrisis: 'Climate Crisis', cursive;
.title_text {
    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        &_one {
            font-family: $fontClimateCrisis;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            text-transform: uppercase;
            color: $main;
        }

        &_two {
            align-self: flex-end;

            & {
                font-family: $fontClimateCrisis;
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
                text-transform: uppercase;
                color: $main;
            }
        }
    }

    &__text {
        font-family: $fontAsap;
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        color: $white;
    }
}