.footer {
    &__wrap {

    }

    &__logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 42px;
        padding: 24px 40px 16px;
        background: #081518;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 23px 20px 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__text {
        border-top: 1px solid $main;
        padding-top: 12px;

        & {
            font-family: $fontAsap;
            font-weight: 300;
            font-size: 10px;
            line-height: 11px;
            text-align: center;
            color: $white;
        }
    }

    &__copy {
        border-top: 1px solid $main;
        padding-top: 4px;

        & {
            font-family: $fontAsap;
            font-weight: 300;
            font-size: 8px;
            line-height: 9px;
            text-align: center;
            color: $white;
        }
    }
}