.header {
    width: 100%;
    position: relative;
    background: $bcgrnd;

    &__wrap {
        display: flex;
        justify-content: space-between;
        padding: 48px 0;
    }

    &__logo {
        a {
            display: flex;
        }
    }

    &__menu {
        width: 100%;
        height: calc(100vh - 137px);
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 9;
        padding: 11px 36px;
        background: $bcgrnd;
        opacity: 1;
        visibility: visible;
        transition: .2s ease-in-out;

        &:not(.open) {
            opacity: 0;
            visibility: hidden;
        }

        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 42px;

            &-item {
                display: flex;

                a {
                    border-left: 1px solid $main;
                    border-right: 1px solid $main;
                    padding: 0 23px;

                    & {
                        font-family: $fontAsap;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 23px;
                        text-align: center;
                        text-transform: uppercase;
                        color: $white;
                    }
                }
            }
        }

        &__btn {
            &.open {
                .close {
                    display: none;
                }

                .open {
                    display: flex;
                }
            }

            .close {
                display: flex;
            }

            .open {
                display: none;
            }
        }
    }
}