$main: #B6F85B;
$bcgrnd: #0D2329;
$white: #FFFFFF;
$fontAsap: 'Asap', sans-serif;
$fontClimateCrisis: 'Climate Crisis', cursive;

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

a:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000
}


::-moz-focus-inner {
    border: 0;
    outline: 0
}

html {
    font-size: 16px;
    color: $white;
    height: 100%;
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: $bcgrnd;
}

img {
    max-width: 100%;
    height: auto;
}

picture {
    line-height: 0;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, a {
    cursor: pointer;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

.btn {
    &_main {
        display: inline-flex;
        padding: 10px;
        background: $main;
        border: 2px solid $main;
        transition: .2s ease-in-out;

        &:hover, &:active {
            background: $white;
        }

        & {
            font-family: $fontAsap;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: $bcgrnd;
        }
    }
}